.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #160033;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h2 {
  font-size: 2rem;
  color: #02f7a5;
}

.movie h3 {
  color: #02daf7;
  margin: 0;
  font-size: 1rem;
}
