@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background: rgb(148,148,148);
  background: radial-gradient(circle, rgba(148,148,148,1) 0%, rgba(13,13,13,1) 100%);
}

